.bg-white-offset {
  background-color: $white-offset;
}

.bg-blue {
  background-color: $blue;
}

.c-black-offset {
  color: $black-offset;
}

.c-white {
  color: $white;
}

.c-slate{
  color: $slate;
}
