.bg-white-offset {
  background-color: $white-offset;
}

.bg-blue {
  background-color: $blue;
}

.c-black-offset {
  color: $black-offset;
}

.c-white {
  color: $white;
}

.c-blue {
  color: $blue;
}

.c-slate {
  color: $slate;
}

.c-slate-dark {
  color: $slate-dark;
}

.c-gray-dark {
  color: $gray-dark;
}
