// Colors
// ========================================

$blue:         #59ABE3;
$slate:        #6C7A89;
$slate-dark:   #434349;
$gray:         #BDC3C7;
$gray-light:   #ECF0F1;
$gray-dark:    #666666;
$white:        #FFF;
// $white-offset: #F1F3F5;
// $white-offset: #edeff0;
$white-offset: #f7f7f7;
$black:        #000;
$black-offset: #333;
