// Typography
// ========================================

$font-size-base: 16px;

$s-giga:    60px;
$s-mega:    48px;

$s-alpha:   36px;
$s-bravo:   24px;
$s-charlie: 21px;
$s-delta:   18px;
$s-echo:    16px;
$s-foxtrot: $font-size-base;
$s-golf:    12px;
